<div class="main">
  <div class="nav" fxLayout="row" fxLayoutAlign="none center" >
    <div class="left" fxFlex="50" fxLayout="row" fxLayoutAlign="none center" >
      <mat-icon id="backArrow" routerLink="/" >arrow_back</mat-icon>
      <div id="navText" >My Projects</div>
    </div>
    <div class="right" fxFlex="50" fxLayout="row" fxLayoutAlign="end center" >
      <div matTooltip="More details on projects" >
        <mat-icon id="more" >error_outline</mat-icon>
      </div>
    </div>
  </div>
  <div class="items" fxLayout="row wrap" fxLayoutAlign="space-evenly start">
    <div class="item" fxFlex="40%" fxFlex.gt-xs = "22.5%" fxFlex.gt-sm="13%" fxLayout="column" fxLayoutAlign="center center" >
      <div class="icons">
        <img src="../../assets/images/snakenew.svg" >
      </div>
      <p>Snake</p>
    </div>
    <div class="item" fxFlex="40%" fxFlex.gt-xs = "22.5%" fxFlex.gt-sm="13%" fxLayout="column" fxLayoutAlign="center center" >
      <div class="icons">
        <img src="../../assets/images/tetrisnew.svg" >
      </div>
      <p>Tetris</p>
    </div>
    <div class="item" fxFlex="40%" fxFlex.gt-xs = "22.5%" fxFlex.gt-sm="13%" fxLayout="column" fxLayoutAlign="center center" >
      <div class="icons">
        <img src="../../assets/images/password.svg" >
      </div>
      <p>Password Manager</p>
    </div>
    <div class="item" fxFlex="40%" fxFlex.gt-xs = "22.5%" fxFlex.gt-sm="13%" fxLayout="column" fxLayoutAlign="center center" >
      <div class="icons">
        <img src="../../assets/images/password.svg" >
      </div>
      <p>Password Manager</p>
    </div>
    <div class="item" fxFlex="40%" fxFlex.gt-xs = "22.5%" fxFlex.gt-sm="13%" fxLayout="column" fxLayoutAlign="center center" >
      <div class="icons">
        <img src="../../assets/images/password.svg" >
      </div>
      <p>Password Manager</p>
    </div>
    <div class="item" fxFlex="40%" fxFlex.gt-xs = "22.5%" fxFlex.gt-sm="13%" fxLayout="column" fxLayoutAlign="center center" >
      <div class="icons">
        <img src="../../assets/images/password.svg" >
      </div>
      <p>Password Manager</p>
    </div>
    <div class="item" fxFlex="40%" fxFlex.gt-xs = "22.5%" fxFlex.gt-sm="13%" fxLayout="column" fxLayoutAlign="center center" >
      <div class="icons">
        <img src="../../assets/images/password.svg" >
      </div>
      <p>Password Manager</p>
    </div>
  </div>
</div>
