<div class="main">
  <div class="text" fxLayout="column" fxLayoutAlign="center center" >
    <div>Hi, I'm <span class="imp" >Nipun Shaji</span></div>
    <div>I am a Software Developer</div>
    <div>with 1 year of experience.</div>
    <div class="buttons" fxLayout="row" fxLayoutAlign="space-around center" >
      <button type="button" name="button" id="projects" routerLink="projects" >Projects</button>
      <button type="button" name="button" id="more" routerLink="more" >More about me</button>
    </div>
  </div>
</div>
